In [1]:
a = 3
b = 2
a + b

5

In [2]:
a * 10

30

In [3]:
a + 5

8

# Number

In [4]:
3 + 2 * 8

19

In [5]:
a = 3
b = 2

In [6]:

a + b

5

In [7]:
a - b

1

In [8]:
type(a)

int

In [9]:
type(b)

int

In [10]:
c = 1.5
d = 2.5

In [11]:
c + d

4.0

In [12]:
c - d

-1.0

In [13]:
type(c)

float

In [14]:
type(d)

float

In [15]:
a = '2'

In [16]:
type(a)

str

In [17]:
int(a)

2

In [18]:
int(2)

2

In [19]:
float(2)

2.0

In [20]:

float('3.2')

3.2

In [21]:
a = 5

In [22]:

a + a

10

In [23]:
a = 10

In [24]:
a + a

20

In [25]:
a = a + a

In [26]:
a

20

In [27]:
price = 25.6
exchange_rate = 32.33
price * exchange_rate

827.648

In [28]:
ntd_price = price * exchange_rate

In [29]:
ntd_price

827.648

In [30]:
NTD_PRICE

NameError: name 'NTD_PRICE' is not defined

# Python String

In [31]:
a = 'hello world'
type(a)
a

'hello world'

In [32]:
a = "hello world"
type(a)
a

'hello world'

In [33]:
a = 'I'm 18 years old'

SyntaxError: invalid syntax (<ipython-input-33-2be2c9079c46>, line 1)

In [34]:
a = "I'm 18 years old"
a

"I'm 18 years old"

In [35]:
a = "hello world"
a

'hello world'

In [36]:
'hello' # 預設只會印出最後一段
'world'

'world'

In [37]:
print('hello')
print('world')

hello
world

In [38]:
print('寶寶心裡苦 但寶寶不說')

寶寶心裡苦 但寶寶不說

In [39]:
print('Hello world 1')
print('Hello world 2')
print('Use \n to print a new line')
print('\n')
print('See what i mean?')

Hello world 1
Hello world 2
Use
 to print a new line


See what i mean?

In [40]:
print('1 2 3\n100 200 300')

1 2 3
100 200 300

In [41]:
print('1\t2\t3\n100\t200\t300')

1	2	3
100	200	300

In [42]:
a = 'this is a text'
print(a)

this is a text

In [43]:
a = 'this is a loooooooooooooooooooooooo\
ooooooooooooooooooooooooooooooooong   text'

print(a)

this is a looooooooooooooooooooooooooooooooooooooooooooooooooooooooong   text

In [44]:
a = 'I love Python 
Python is my favorite
I would like to use python to build something'

SyntaxError: EOL while scanning string literal (<ipython-input-44-37af464af172>, line 1)

In [45]:
a = 'I love Python \
Python is my favorite\
I would like to use python to build something'
print(a)

I love Python Python is my favoriteI would like to use python to build something

In [46]:
a = '''I love Python 
Python is my favorite
I would like to use python to build something'''
print(a)

I love Python
Python is my favorite
I would like to use python to build something

In [47]:
a = """I love Python 
Python is my favorite
I would like to use python to build something"""
print(a)

I love Python
Python is my favorite
I would like to use python to build something

In [48]:
s = 'Hello'
s[0]

'H'

In [49]:
s[1]

'e'

In [50]:
s[4]

'o'

In [51]:
s[-1]

'o'

In [52]:
s = 'Hello'

# for(i =1; i < 4; i ++)
s[1:4] # e: 1, l :2,  l:3

'ell'

In [53]:
s[:3]

'Hel'

In [54]:
s[3:]

'lo'

In [55]:
s[:]

'Hello'

In [56]:
s = 'Hello'

# for(i =0; i < len(s); i ++)
s[::1]

'Hello'

In [57]:

# for(i =0; i < len(s); i += 2)
s[::2]

'Hlo'

In [58]:
# for(i =1; i < 4; i ++)
s[1:4:1]

'ell'

In [59]:
s[::-1]

'olleH'

In [60]:

a = '上海自來水來自海上'
a == a[::-1]

True

In [61]:
a = '今天天氣真好'
a == a[::-1]

False

In [62]:
s  = 'Hello'
s1 = 'World'
s + s1

'HelloWorld'

In [63]:
s + ' ' + s1

'Hello World'

In [64]:
'對不起'  * 100

'對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起'

In [65]:
s

'Hello'

In [66]:

print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [67]:
s = 'hello world'
s.upper()

'HELLO WORLD'

In [68]:
help(s.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [69]:
?s.upper

In [70]:
apple = '''
要怎麼製造心動？其實只要製造錯覺，就很容易讓兩人產生火花，瞬間天雷勾動地火；阿畫說，若在喜歡的人面前，通常會有心臟砰砰然的跳動，這樣心跳加速的緊張感，其實透過心理學上的「吊橋效應」，同樣也能達到，有研究報告顯示，當男子因跑步而使心跳次數升高，這時就很容易被眼前女子所吸引，由此可見，當人處於亢奮狀態，就可以大幅增加浪漫感覺，進而順利發展情侶關係。想製造適當的緊張感，透過看恐怖電影，玩遊樂園的刺激設施，都是不錯方法，若能在適當時機，來點曖昧的肢體接觸，就能讓對方產生心動錯覺，不妨試試看吧。'''

In [71]:
apple

'\n要怎麼製造心動？其實只要製造錯覺，就很容易讓兩人產生火花，瞬間天雷勾動地火；阿畫說，若在喜歡的人面前，通常會有心臟砰砰然的跳動，這樣心跳加速的緊張感，其實透過心理學上的「吊橋效應」，同樣也能達到，有研究報告顯示，當男子因跑步而使心跳次數升高，這時就很容易被眼前女子所吸引，由此可見，當人處於亢奮狀態，就可以大幅增加浪漫感覺，進而順利發展情侶關係。想製造適當的緊張感，透過看恐怖電影，玩遊樂園的刺激設施，都是不錯方法，若能在適當時機，來點曖昧的肢體接觸，就能讓對方產生心動錯覺，不妨試試看吧。'

In [72]:
apple.strip()

'要怎麼製造心動？其實只要製造錯覺，就很容易讓兩人產生火花，瞬間天雷勾動地火；阿畫說，若在喜歡的人面前，通常會有心臟砰砰然的跳動，這樣心跳加速的緊張感，其實透過心理學上的「吊橋效應」，同樣也能達到，有研究報告顯示，當男子因跑步而使心跳次數升高，這時就很容易被眼前女子所吸引，由此可見，當人處於亢奮狀態，就可以大幅增加浪漫感覺，進而順利發展情侶關係。想製造適當的緊張感，透過看恐怖電影，玩遊樂園的刺激設施，都是不錯方法，若能在適當時機，來點曖昧的肢體接觸，就能讓對方產生心動錯覺，不妨試試看吧。'

In [73]:
?apple.strip

In [74]:
len(apple)

246

In [75]:
?len

In [76]:
apple.split('，')

['\n要怎麼製造心動？其實只要製造錯覺',
 '就很容易讓兩人產生火花',
 '瞬間天雷勾動地火；阿畫說',
 '若在喜歡的人面前',
 '通常會有心臟砰砰然的跳動',
 '這樣心跳加速的緊張感',
 '其實透過心理學上的「吊橋效應」',
 '同樣也能達到',
 '有研究報告顯示',
 '當男子因跑步而使心跳次數升高',
 '這時就很容易被眼前女子所吸引',
 '由此可見',
 '當人處於亢奮狀態',
 '就可以大幅增加浪漫感覺',
 '進而順利發展情侶關係。想製造適當的緊張感',
 '透過看恐怖電影',
 '玩遊樂園的刺激設施',
 '都是不錯方法',
 '若能在適當時機',
 '來點曖昧的肢體接觸',
 '就能讓對方產生心動錯覺',
 '不妨試試看吧。']

In [77]:
?apple.split

In [78]:
apple.count('心動')

2

In [79]:
?apple.count

# Python List

In [80]:
a = 'John'
b = 'Marry'
c = 'Ian'

In [81]:
names = ['John', 'Marry', 'Ian']

In [82]:
['asap', 3]

['asap', 3]

In [83]:
list('word')

['w', 'o', 'r', 'd']

In [84]:
[['list'], ['of', 'list']]

[['list'], ['of', 'list']]

In [85]:
list(('a', 1))

['a', 1]

In [86]:
a = ['hello', 3]
a[0] + 'world'

'helloworld'

In [87]:
a[1] + 10

13

In [88]:
a = [5,6,7,'s']

In [89]:
a[0]

5

In [90]:

a[1]

6

In [91]:
a[-1]

's'

In [92]:
a[0:3]

[5, 6, 7]

In [93]:
# for(i= 0 ; i <len(s); i +=2)
a[0:4:2]
a[::2]

[5, 7]

In [94]:
a[::-1]

['s', 7, 6, 5]

In [95]:
len(a)

4

In [96]:
a = [5,6,7,8]

In [97]:
a.pop()

8

In [98]:
?a.pop

In [99]:
a

[5, 6, 7]

In [100]:
a.append(2)

In [101]:
a

[5, 6, 7, 2]

In [102]:
a.sort()

In [103]:
a

[2, 5, 6, 7]

In [104]:
a.reverse()

In [105]:
a

[7, 6, 5, 2]

In [106]:
a = 'hello world'
list(a)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [107]:
'a' in list(a)

False

In [108]:
'e' in list(a)

True

In [109]:
a = [1,2,3]
aa = a

In [110]:
a

[1, 2, 3]

In [111]:

aa

[1, 2, 3]

In [112]:
aa[1] = 2000

In [113]:
aa

[1, 2000, 3]

In [114]:
a

[1, 2000, 3]

In [115]:
a = [1,2,3]

In [116]:
aa = a.copy()

In [117]:
aa[1] = 2000

In [118]:
aa

[1, 2000, 3]

In [119]:
a

[1, 2, 3]

# Dictionary

In [120]:
a = [1,2,3,1,2,2,1,2,3,4,2,1,2]
a.index(4)

9

In [125]:
dic= {'a':100, 'b': 'yes', 'c':0.98}

In [126]:
dic.keys()

dict_keys(['a', 'b', 'c'])

In [127]:
dic.values()

dict_values([100, 'yes', 0.98])

In [128]:
dic['a']

100

In [129]:
dic['d']

KeyError: 'd'

In [130]:
dic.get('a')

100

In [131]:
dic.get('d')

In [132]:
?dic.get

In [133]:
print(dic.get('d'))

None

In [134]:
print(dic.get('d', 'NOT FOUND'))

NOT FOUND

In [135]:
dic['d'] = 'NEW'

In [136]:
dic

{'a': 100, 'b': 'yes', 'c': 0.98, 'd': 'NEW'}

In [137]:
dic2 = {'c':1.0, 'd':'OLD', 'e': 'Good'}
dic.update(dic2)

In [138]:
dic

{'a': 100, 'b': 'yes', 'c': 1.0, 'd': 'OLD', 'e': 'Good'}

In [139]:
dic['e'] = 'Bad'

In [140]:
dic

{'a': 100, 'b': 'yes', 'c': 1.0, 'd': 'OLD', 'e': 'Bad'}

In [141]:
qa = {
  '早安': '你也早安',
  '吃飽沒': '吃飽了',
  '掰掰': '明天見'
}

In [142]:
qa.get('吃飽沒')

'吃飽了'

In [143]:
question = input('請輸入你的問題:')
question

請輸入你的問題:你好嗎

'你好嗎'

In [144]:
question = input('請輸入你的問題:')
qa.get(question, '我現在還不聰明, 等我以後變聰明以後,再告訴你')

請輸入你的問題:明天見

'我現在還不聰明, 等我以後變聰明以後,再告訴你'

# Tuples

In [145]:
l = [1,2,3]
t = 1,2,3
t1 = (1,2,3)

In [146]:
l

[1, 2, 3]

In [147]:

t

(1, 2, 3)

In [148]:

t1

(1, 2, 3)

In [149]:
print(dir(l))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [150]:
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [151]:
t = ('one',2)

In [152]:
t[0]

'one'

In [153]:
t[-1]

2

In [154]:
len(t)

2

In [155]:
t[0] = 'two'

TypeError: 'tuple' object does not support item assignment

In [156]:
t.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [157]:
a = 1
b = 2

In [158]:
a,b = 1,2

In [159]:
1,2

(1, 2)

In [160]:
c = 1,2

In [161]:
c

(1, 2)

In [162]:
(a,b) == c

True

# Loop and Control Flow

In [1]:
a = 5
a > 3

True

In [2]:
a < 3

False

In [3]:
if a > 3:
    print('a is greater than 3')
print('For any reason, print this')

a is greater than 3
For any reason, print this

In [4]:

if a < 3:
    print('a is less than 3')
print('For any reason, print this')

For any reason, print this

In [5]:
if a > 3:
print('a is greater than 3')

IndentationError: expected an indented block (<ipython-input-5-e9d3ef38fbf2>, line 2)

In [6]:
if a > 3:
                                                                                                         print('a is greater than 3')

a is greater than 3

In [7]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
for qoo in range(10):
    print(qoo)

0
1
2
3
4
5
6
7
8
9

In [9]:
for i in range(10):
    if i == 9 :
        print('9 is found')
    elif i == 8 :
        print('8 is found')
    else:
        print('nothing else')

nothing else
nothing else
nothing else
nothing else
nothing else
nothing else
nothing else
nothing else
8 is found
9 is found

In [10]:
for i in range(10):
    if i == 9 :
        print('9 is found')
    elif i == 8 :
        print('8 is found')
        break
    else:
        print('nothing else')

nothing else
nothing else
nothing else
nothing else
nothing else
nothing else
nothing else
nothing else
8 is found

In [11]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [13]:

for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [14]:
a = [11,22,33,44,55]
for i in a:
    print(i)

11
22
33
44
55

In [15]:
apple = '''
要怎麼製造心動？其實只要製造錯覺，就很容易讓兩人產生火花，瞬間天雷勾動地火；阿畫說，若在喜歡的人面前，通常會有心臟砰砰然的跳動，這樣心跳加速的緊張感，其實透過心理學上的「吊橋效應」，同樣也能達到，有研究報告顯示，當男子因跑步而使心跳次數升高，這時就很容易被眼前女子所吸引，由此可見，當人處於亢奮狀態，就可以大幅增加浪漫感覺，進而順利發展情侶關係。想製造適當的緊張感，透過看恐怖電影，玩遊樂園的刺激設施，都是不錯方法，若能在適當時機，來點曖昧的肢體接觸，就能讓對方產生心動錯覺，不妨試試看吧。'''

In [16]:
apple.split('，')

['\n要怎麼製造心動？其實只要製造錯覺',
 '就很容易讓兩人產生火花',
 '瞬間天雷勾動地火；阿畫說',
 '若在喜歡的人面前',
 '通常會有心臟砰砰然的跳動',
 '這樣心跳加速的緊張感',
 '其實透過心理學上的「吊橋效應」',
 '同樣也能達到',
 '有研究報告顯示',
 '當男子因跑步而使心跳次數升高',
 '這時就很容易被眼前女子所吸引',
 '由此可見',
 '當人處於亢奮狀態',
 '就可以大幅增加浪漫感覺',
 '進而順利發展情侶關係。想製造適當的緊張感',
 '透過看恐怖電影',
 '玩遊樂園的刺激設施',
 '都是不錯方法',
 '若能在適當時機',
 '來點曖昧的肢體接觸',
 '就能讓對方產生心動錯覺',
 '不妨試試看吧。']

In [17]:
for s in apple.split('，'):
    if '心動' in s:
        print(s)

要怎麼製造心動？其實只要製造錯覺
就能讓對方產生心動錯覺

In [18]:
# 將 1 ~ 100 相加在一起
s = 0
for i in range(1,101):
    s +=i
s

5050

In [19]:
s = 0
i = 0
while i < 101:
    s = s + i
    i = i + 1
s

5050

In [ ]:
s = 0
i = 0
while i < 101:
    s = s + i
    #i = i + 1
s

In [ ]:

s

# Function

In [22]:
def say_hello():
    print("hello world")

In [23]:
say_hello()

hello world

In [24]:
def addNum(a,b):
    return a + b

In [25]:

addNum(3,5)

8

In [26]:

'hello' + 'world'

'helloworld'

In [27]:
addNum('hello', 'world')

'helloworld'

In [28]:

def addSum(n):
    s = 0
    for i in range(1,n):
        s +=i
    return s

In [29]:

addSum(51)

1275

In [30]:
addSum(101)

5050

In [31]:
def findTerm(apple, term):
    for s in apple.split('，'):
        if term in s:
            print(s)

In [32]:

news = '''
愛買行銷部資深經理王佳慧表示，因應夏日高溫，從7月17日中元開檔至今，氣泡飲料、無糖茶、運動飲料是消費者特別青睞之飲品，包括「6罐組的可口可樂系列」第1周就創下2萬組的銷量；「CHEERS氣泡水系列4瓶組」，單周就創下5000組的銷量；闔家都適合的零嘴海苔系列、堅果系列最受歡迎，麵條部分，乾拌麵仍在夏天人氣居高不下
'''

In [33]:
findTerm(news, '中元')

從7月17日中元開檔至今